@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(135deg, #4e54c8, #8f94fb);*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202B52
}

.login-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
    height: 550px;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
    font-size: 28px;
}

.login-container input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.login-container input:focus {
    outline: none;
    border-color: #4e54c8;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #202B52;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.login-container button:hover {
    background-color: rgb(92, 152, 172);
    font-family: 'Poppins', sans-serif;
}

.error {
    color: red;
    margin-top: 15px;
    font-size: 14px;
}

.logo-login {
    width: 300px;     
    height: auto;     
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* espacio para el ícono */
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
}
.error {
    color: red;
    margin-top: 10px;
    padding: 8px;
    background-color: #ffeeee;
    border: 1px solid #ffcccc;
    border-radius: 4px;
    text-align: center;
}