<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/seguimientos/static/img/faviconEsumer.png" type="image/x-icon">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/seguimientos/static/css/login.css">
</head>

<body>

    <div class="login-container">
        <div class="login-section-logos">
            <img src="/seguimientos/static/img/LogoEsumer.webp" alt="Logo" class="logo-login">
            <img src="/seguimientos/static/img/logoCreeSiendo.png" alt="Logotipo CreeSiendo" class="logo-creesiendo">
        </div>

        <h2 class="login-title">Seguimiento CreeSiendo</h2>

        <form id="loginForm">
            <div class="input-group">
                <input type="text" id="username" class="input-field" required>
                <label for="username" class="input-label">Usuario</label>
                <!-- <div class="validation-message" id="usernameError"></div>
                <div class="success-message" id="usernameSuccess"></div> -->
            </div>

            <div class="input-group">
                <input type="password" id="password" class="input-field" required>
                <label for="password" class="input-label">Contraseña</label>
                <button type="button" class="password-toggle" id="togglePassword"><img src="/static/img/icons/ojo.png" alt="Icono ojo abierto"></button>
                <!-- <div class="validation-message" id="passwordError"></div>
                <div class="success-message" id="passwordSuccess"></div> -->
            </div>

            <div class=""></div>


            <button type="submit" class="login-btn">Iniciar Sesión</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/seguimientos/static/js/login.js"></script>
</body>

</html>